<%= form_for @trip, :html => { :class => "form-horizontal trip" } do |f| %>

    <% if @trip.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, :class => 'form-control', :placeholder => 'YYYY-MM-DD' %>
    </div>
    
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_date, :class => 'form-control', :placeholder => 'YYYY-MM-DD' %>
    </div>
    
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            trips_path, :class => 'btn btn-default' %>

<% end %>
