<%- model_class = Trip -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Trip Notifications" %></h1>
</div>
<p><strong>My Requests</strong></p>
<table class="table table-striped">
  <thead>
    <tr>
      <!--<th><%= model_class.human_attribute_name(:id) %></th>-->
      <th><%= model_class.human_attribute_name(:requested_to) %></th>
      <th><%= model_class.human_attribute_name(:trip) %></th> 
      <th><%= model_class.human_attribute_name(:status) %></th>
      <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @myRequestsToJoinTrip.each do |trip| %>
      <tr>
        <td><%= trip.receiver_email %></td>
        <% tripObject = Trip.find(trip.trip_id) %>
        <td><%= link_to tripObject.name, trip_path(trip.trip_id) %></td>
        <% if trip.accepted == 2 then status = "Pending" %>
        <% elsif trip.accepted == 1 then status = "Accepted" %>
        <% else status = "Declined"%>
        <% end %>
        <td><%= status %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

<table class="table table-striped">
<p><strong>My Invites</strong></p>
<table class="table table-striped">
  <thead>
    <tr>
      <!--<th><%= model_class.human_attribute_name(:id) %></th>-->
      <th><%= model_class.human_attribute_name(:invitee) %></th>
      <th><%= model_class.human_attribute_name(:trip) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <!-- <th><%= model_class.human_attribute_name(:created_by) %></th> -->
      <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @friendsInvitedToTrip.each do |trip| %>
      <tr>
        <td><%= trip.receiver_email %></td>
        <% tripObject = Trip.find(trip.trip_id) %>
        <td><%= link_to tripObject.name, trip_path(trip.trip_id) %></td>
        <% if trip.accepted == 2 then status = "Pending" %>
        <% elsif trip.accepted == 1 then status = "Accepted" %>
        <% else status = "Declined"%>
        <% end %>
        <td><%= status %></td>
      </tr>
    <% end %>
  </tbody>

  <table class="table table-striped">
<p><strong>Requests to Join My trip</strong></p>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:requested_by) %></th>
      <th><%= model_class.human_attribute_name(:trip) %></th> 
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @requestsToJoinMyTrip.each do |trip| %>
      <tr>
        <td><%= trip.sender_email %></td>
        <% tripObject = Trip.find(trip.trip_id) %>
        <td><%= link_to tripObject.name, trip_path(trip.trip_id) %></td>
        <td>
          <%= link_to t('.accept', :default => t("helpers.links.accept")),
                      edit_trips_invite_path(:id => trip.id, :sender_email => trip.sender_email, :receiver_email => trip.receiver_email, :tripid => trip.trip_id, :accepted => "1"), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.decline', :default => t("helpers.links.decline")),
                      edit_trips_invite_path(:id => trip.id, :sender_email => trip.sender_email, :receiver_email => trip.receiver_email, :tripid => trip.trip_id, :accepted => "0"),
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to decline the invite?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>




<table class="table table-striped">
<p><strong>Invites to Join a Friend's trip</strong></p>
  <thead>
    <tr>
      <!--<th><%= model_class.human_attribute_name(:id) %></th>-->
      <th><%= model_class.human_attribute_name(:requested_by) %></th>
      <th><%= model_class.human_attribute_name(:trip) %></th> 
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @requestsToJoinFriendsTrip.each do |trip| %>
      <tr>
        <td><%= trip.sender_email %></td>
        <% tripObject = Trip.find(trip.trip_id) %>
        <td><%= link_to tripObject.name, trip_path(trip.trip_id) %></td>
        <td>
          <%if trip.accepted != 1%>
          <%= link_to t('.accept', :default => t("helpers.links.accept")),
                      edit_trips_invite_path(:id => trip.id, :sender_email => trip.sender_email, :receiver_email => trip.receiver_email, :tripid => trip.trip_id, :accepted => "1"), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.decline', :default => t("helpers.links.decline")),
                      edit_trips_invite_path(:id => trip.id, :sender_email => trip.sender_email, :receiver_email => trip.receiver_email, :tripid => trip.trip_id, :accepted => "0"),
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to decline the invite?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>

