<div class="well well-sm">
<%= glyph(:picture) %>
<%attachment = Attachment.find(n[:target_id])%>
<%trip = Trip.find(attachment.trip_id)%>
<%user = User.find(n[:owner_id])%>
<strong><%= link_to user.name, user_path(user)%></strong> added an attachment to the trip <strong><%= link_to trip.name, trip_path(trip)%></strong><strong></strong>
<span style="margin-left:20px;">
<div style="margin-top:10px;margin-bottom:10px">
<% if attachment.attachment_type == "photo" %>
			<% if Rails.cache.read(attachment.url).blank? %>
				<a href="<%= attachment.url %>"><img src="<%= attachment.url %>" alt="<%= attachment.name %>" class="thumbnail"></a>
				<% Rails.cache.write(attachment.url, open(attachment.url).read) %>
			<% else %>
				<%= ('<img src="data:image/gif;base64,%s" class="thumbnail" />' % Base64.encode64(Rails.cache.read(attachment.url))).html_safe %>
			<% end %>
          <% elsif attachment.attachment_type == "link" %>
            <a href="<%= attachment.url %>">Follow Link</a>
          <% elsif attachment.attachment_type == "video" %>
            <a href="<%= attachment.url %>">View Video</a>
          <% end %></div>
<div class="likes" style = "inline-block"><%= pluralize(attachment.likers(User).count, 'like')%></div>
<%= render 'shared/like_form', likeable: attachment %>

        <span style="float:right"><strong><%= local_time(n[:created_at])%></strong></span>
</span>
</div>
