<div class="well well-sm">
<%= glyph(:user) %>
<%user1 = User.find(n[:owner_id])%>
<%user2 = User.find(n[:target_id])%>
<strong><%= user1.name%></strong> became friend with <strong><%= user2.name%></strong>
<span style="margin-left:20px;">
<div style="margin-top:10px;"><img src=<%="#{User.find(n[:owner_id]).photo}"%> style="border-right:20px;"/> <img src=<%="#{User.find(n[:target_id]).photo}"%>/></div>
</span>
 <span style="float:right"><strong><%= local_time(n[:created_at])%></strong></span>
 </div>