<div class="well well-sm">
<%= glyph(:globe) %>
<%trip = Trip.find(n[:target_id])%>
<%user = User.find(n[:owner_id])%>
Trip <strong><%= link_to trip.name, trip_path(trip)%></strong> was created by <strong><%= link_to user.name, user_path(user)%></strong><strong><span style="float:right"><%= local_time(n[:created_at])%></span></strong>
<div style="margin-top:10px">
<div class="likes"><%= pluralize(trip.likers(User).count, 'like')%></div>
</div>
<%= render 'shared/like_form', likeable: trip %>
</div>