<h5>My links</h5>
<ul>

          <li> <%= link_to t('.friends_list', :default => t('.friends_list')), "/users/friendslist", :class => 'navbar-link' %> </li>
          <li><%= link_to t('.myFriendRequests', :default => t("helpers.links.myFriendRequests")), friendRequests_users_path, :method => :get,  :class => 'navbar-link' %></li>
          <li><%= link_to t('.myTripNotifications', :default => t("helpers.links.myTripNotifications")), showTripNotifications_trips_path, :method => :get,  :class => 'navbar-link' %></li>
          <li><%= link_to t('.myPlaces', :default => t("helpers.links.myPlaces")), user_user_locations_path(current_user), :method => :get,  :class => 'navbar-link' %></li>
          <li><%= link_to t('.trips', :default => t("helpers.links.trips")), trips_path, :method => :get,  :class => 'navbar-link' %></li>
          </ul>