<h3> Here are your Tripster search results </h3>
<% if @tripSearches.size == 0 && @userSearches.size == 0%>
	<h3> Sorry, we couldn't find any matching trips/users </h3>
<% else %>

	<% if @userSearches.size != 0 %>
		<h5> Following users were found </h5>
		<% @userSearches.each do |userSearch| %>
		<%= link_to userSearch.name, user_path(userSearch) %><br>
		<% end %>
	<% end %>
	<% if @tripSearches.size != 0 %>
		<h5> Following trips were found </h5>
		<% @tripSearches.each do |tripSearch| %>
		<%= link_to tripSearch.name, trip_path(tripSearch) %><br>
		<% end %>
	<% end %>
<% end %>


<h3> Here are your web search results </h3>
<table class="bordered_cells">
<th class="bordered_cells">
<h4 style="color:blue"> Here are your top 10 web search results </h4>
<% (0..9).each do |i| %>
<a href="<%= @bing_results_web[0][:Web][i][:Url] %>" target="_blank">
	<%= @bing_results_web[0][:Web][i][:Title] %></a><br/>
<% end %>
</th >
<th class="bordered_cells">
<h4 style="color:blue"> Here are your top 10 image results </h4>
<% (0..9).each do |i| %>
<a href="<%= @bing_results_images[0][:Image][i][:MediaUrl] %>" target="_blank">
	<%= @bing_results_images[0][:Image][i][:Title] %></a><br/>
<% end %>
</th>
<th class="bordered_cells">
<h4 style="color:blue"> Here are your top 10 video results  </h4>
<% (0..9).each do |i| %>
<a href="<%= @bing_results_videos[0][:Video][i][:MediaUrl] %>" target="_blank">
	<%= @bing_results_videos[0][:Video][i][:Title] %></a><br/>
<% end %>
</th>
</table>