
<div style="width:800px;margin-left:auto;margin-right:auto;">
<div id="sidebar-wrapper">
		<div id="sidebar-box">
        <%= render 'recommend', friendsOfFriends: @friendsOfFriends%>
        </div>
        <div id="sidebar-box">
        <%= render 'userlinks'%>
        </div>
        <div id="sidebar-box">
        <%= render 'dreamlocation', friendsOfFriends: @friendsOfFriends%>
        </div>
    </div>
<div style="width:520px;display:inline-block;">
<h3> Hi, <%=current_user.name%>. Here are the latest news</h3>
<%@news.each do |n|%>
<% if n[:type] == "trip"%> 
	<%=render "tripnotif", n: n %>
<%end%>
<% if n[:type] == "invite"%> 
	<%=render 'invitenotif', n: n %>
<%end%>
<% if n[:type] == "friend"%> 
	<%=render 'friendnotif', n: n%>
<%end%>
<% if n[:type] == "attachment"%> 
	<%=render 'attachnotif', n: n%>
<%end%>
<% if n[:type] == "album"%> 
    <%=render 'albumnotif', n: n%>
<%end%>
<%end%>
</div>
</div>