<%- model_class = Attachment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:attachment_type) %></th>
      <th><%= model_class.human_attribute_name(:album_id) %></th>
      <th><%= model_class.human_attribute_name(:created_by) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
      <%unless (album.privacy == 1 and album.created_by != current_user) or (!Trip.find(attachment.trip_id).isMember(current_user) and !current_user.isFriendWith(album.created_by))%>
        <td><u><%= link_to attachment.name, trip_attachment_path(@trip, attachment) %></u></td>
        <td><%= attachment.attachment_type %></td>
        <td>
          <% unless attachment.album_id.blank? then %>
            <%= Album.find(attachment.album_id).name %>
          <% end %>
        </td>
        <td><%= User.find(attachment.created_by).name %></td>
        <td><%=l attachment.created_at %></td>
        <td>
          <% if attachment.attachment_type == "photo" %>
            <a href="<%= attachment.url %>"><img src="<%= attachment.url %>" alt="<%= attachment.name %>" class="thumbnail"></a>
          <% elsif attachment.attachment_type == "link" %>
            <a href="<%= attachment.url %>">Follow Link</a>
          <% elsif attachment.attachment_type == "video" %>
            <a href="<%= attachment.url %>">View Video</a>
          <% end %>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%if @trip.isMember(current_user)%>
<%= link_to t('.new', :default => t("helpers.links.new")), new_trip_attachment_path(@trip), :class => 'btn btn-primary' %>
<%end%>