<%- model_class = Attachment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @attachment.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attachment_type) %>:</strong></dt>
  <dd><%= @attachment.attachment_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd>
    <% unless @attachment.url.blank? then %>
      <%= @attachment.url %>
    <% else %>N/A
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:trip_id) %>:</strong></dt>
  <dd><%= Trip.find(@attachment.trip_id).name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:album_id) %>:</strong></dt>
  <dd>
    <% unless @attachment.album_id.blank? then %>
      <%= Album.find(@attachment.album_id).name %>
    <% else %>None
    <% end %><br>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= User.find(@attachment.created_by).name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @attachment.description %></dd>

</dl>

<% if @attachment.attachment_type == "video" || @attachment.attachment_type == "link"%>
  <a href="<%= @attachment.url %>"><h2>Click here to follow link</h2></a><br>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              trip_path(@attachment.trip_id), :class => 'btn'  %>
  <%= if @attachment.created_by == current_user.id%>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_trip_attachment_path(@attachment.trip_id), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              trip_attachment_path(@attachment.trip_id, @attachment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <%end%>
</div>

<div class="likes"><%= pluralize(@attachment.likers(User).count, 'like')%></div>
</div>
<%= render 'shared/like_form', likeable: @attachment %>

<% if @attachment.attachment_type == "photo" %>
  <a href="<%= @attachment.url %>"><img src="<%= @attachment.url %>" alt="<%= @attachment.name %>"></a>
<% end %>

<h3>Comments</h3>

<%= render :partial => 'attachment_comments/form' %>

<%= render :template => 'attachment_comments/index', :collection => @attachment.attachment_comments, :locals => {attachment_id: @attachment} %>
