<%= form_for [@user, @user_location], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
    <%= hidden_field_tag :visited, params[:visited]%>

  <div class="form-actions">
    <%= f.submit (params[:visited] == "1" ? "New place visited" : "Add to dreamlist"), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_user_locations_path, :class => 'btn' %>
  </div>
<% end %>
