<%- model_class = Album -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:trip_id) %></th>
      
      <th><%= model_class.human_attribute_name(:created_by) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><u><%= link_to album.name, trip_album_path(@trip, album) %></u></td>
        <td><%= Trip.find(album.trip_id).name %></td>
        <td><%= User.find(album.created_by).name %></td>
        <td><%=l album.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%if @trip.isMember(current_user)%>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_trip_album_path(@trip),
            :class => 'btn btn-primary' %>
<%end%>