<%- model_class = Album -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @album.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trip_id) %>:</strong></dt>
  <dd><%= Trip.find(@album.trip_id).name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= User.find(@album.created_by).name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              trip_path(@trip), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_trip_album_path(@trip), :class => 'btn' %>
  <%= link_to t('.add', :default => t("helpers.links.add_attachment")),
              new_trip_attachment_path(:trip_id => @album.trip_id, :album_id => @album.id), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              trip_album_path(@trip, @album),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<br><br>

<% @attachments.each do |attachment| %>
  <tr>
        <td><%= attachment.name %><br></td>
        <td>Created by: <%= User.find(attachment.created_by).name %></td><br>
        <td>
          <% if attachment.attachment_type == "photo" %>
            <%= link_to image_tag(attachment.url), trip_attachment_path(attachment.trip_id, attachment) %>
          <% elsif attachment.attachment_type == "link" %>
            <a href="<%= attachment.url %>"><u>Link</u></a>
            <td><%= link_to 'Show', trip_attachment_path(attachment.trip_id, attachment) %></td>
          <% elsif attachment.attachment_type == "video" %>
            <a href="<%= attachment.url %>"><u>Video</u></a>
            <td><%= link_to 'Show', trip_attachment_path(attachment.trip_id, attachment) %></td>
          <% end %>
        </td>
        <br><br>
    </tr>
<% end %>

<h3>Comments</h3>

<%= render :partial => 'album_comments/form' %>

<%= render :template => 'album_comments/index', :collection => @album.album_comments, :locals => {album_id: @album} %>


 