<%- model_class = Location -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @location.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location_type) %>:</strong></dt>
  <dd><%= @location.location_type %></dd>
</dl>

<% bing_image = Bing.new("ZQUcJ2qGUYKP7LhoWVqAnI9pLcJAy0oseXLO/8bYePo", 3, 'Image') %>
<% bing_results_images = bing_image.search(@location.name) %>
<img src="<%= bing_results_images[0][:Image][0][:MediaUrl] %>" height="150" width="150" > <img src="<%= bing_results_images[0][:Image][1][:MediaUrl] %>" height="150" width="150" > <img src="<%= bing_results_images[0][:Image][2][:MediaUrl] %>" height="150" width="150" >

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.see_all_locations")),
              locations_path, :class => 'btn'  %>
</div>
